<div class="sidebar">
  <div class="widget widget_hot">
    <h3>最新文章</h3>
    <ul>
<!--      <li>-->
<!--        <a title="" href="#">-->
<!--          <span class="text">用如何绘制产品架构图</span>-->
<!--          <span class="muted">-->
<!--                    <i class="glyphicon glyphicon-time"></i>-->
<!--                    2016-11-01-->
<!--                </span>-->
<!--          <span class="muted">-->
<!--                    <i class="glyphicon glyphicon-eye-open"></i> 88-->
<!--                </span>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a title="" href="#">-->
<!--          <span class="text">用如何绘制产品架构图</span>-->
<!--          <span class="muted">-->
<!--                    <i class="glyphicon glyphicon-time"></i>-->
<!--                    2016-11-01-->
<!--                </span>-->
<!--          <span class="muted">-->
<!--                    <i class="glyphicon glyphicon-eye-open"></i> 88-->
<!--                </span>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a title="" href="#">-->
<!--          <span class="text">用如何绘制产品架构图</span>-->
<!--          <span class="muted">-->
<!--                    <i class="glyphicon glyphicon-time"></i>-->
<!--                    2016-11-01-->
<!--                </span>-->
<!--          <span class="muted">-->
<!--                    <i class="glyphicon glyphicon-eye-open"></i> 88-->
<!--                </span>-->
<!--        </a>-->
<!--      </li>-->

    </ul>
  </div>
  <div class="widget widget_category">
    <h3>文章分类</h3>
    <ul>
<!--      <li><a href="#"><span class="text"><i class="glyphicon glyphicon-triangle-right"></i> 类目一</span><span class="count">1篇</span></a></li>-->
<!--      <li><a href="#"><span class="text"><i class="glyphicon glyphicon-triangle-right"></i> 类目一</span><span class="count">1篇</span></a></li>-->
    </ul>
  </div>
  <div class="widget">
    <h3>归档</h3>
<!--    <ul>-->
<!--      <li><a><span class="text"><i class="glyphicon glyphicon-play-circle"></i> 2018年3月</span></a></li>-->
<!--      <li><a><span class="text"><i class="glyphicon glyphicon-play-circle"></i> 2018年3月</span></a></li>-->
<!--      <li><a><span class="text"><i class="glyphicon glyphicon-play-circle"></i> 2018年3月</span></a></li>-->
<!--    </ul>-->
  </div>
  <div class="widget widget_sentence">
    <h3>标签云</h3>
<!--    <ul>-->
<!--      <li><a href="#">移动 <span class="badge">1</span></a></li>-->
<!--      <li><a href="#">产品 <span class="badge">1</span></a></li>-->
<!--      <li><a href="#">移动统计 <span class="badge">1</span></a></li>-->
<!--      <li><a href="#">移动统计 <span class="badge">1</span></a></li>-->
<!--      <li><a href="#">移动统计 <span class="badge">1</span></a></li>-->
<!--    </ul>-->
  </div>
</div>